@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #2d3950;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
}

header{
    background: url(../images/banner.jpeg);
    width: 100%;
    height:90vh;
    position: relative;
    background-size:cover;
}


.first-portion{
    width:  100%;
    height: 100%;
    background-color: #383d42;
    opacity:  0.7;
    }

.container{
     width:1140px;
   margin:0  auto;
   overflow:hidden;
  

}
.logo{
    width: 20%;
    padding:40px 0px;
    float:left; 
}
.logo img{
    
}

.menu{
   float:left;
    width: 80%;
    padding:40px 0px;
 

}
.menu ul{margin: 0;padding: 0;text-align: right;}
.menu ul li{list-style: none;display: inline-block;}
.menu ul li a{color: #24262b;text-transform: uppercase;text-decoration: none;
    color:white;
    padding: 10px 10px;display: block;
    font-size:14px;
    font-weight: 
}
.menu ul li a:hover{};

}
.para{
    height:500px;
   display: inline-block;
    color: #fff;
    width:  100%;
    padding-top:  75px;
    text-align:  center;
    transition: all 0.7s ease;
    position:  absolute;
    right:  50%;
    bottom:  50%;
    transform:  translate(50%,50%);

}
.para h1{
    text-align:center;
    color:white;
    font-size:35px;
}

.para h1 span{
    color:#f7600e;
}

.para p{
    padding:12px;
    color:white;
    text-align:white;
    text-align:center;
    font-size:20px;
}

.container a{
     text-align:  center;
    text-decoration:none;
    text-style:none;
    color:white;
    padding:5px 5px;;
    border-radius: 5px;
    border: 1px solid #d05411;
    background-color: #f7600e;

}
.button{
    text-align:center;
    padding:40px;
}
.button a{
     text-align:right;
    text-decoration:none;
    text-style:none;
    color:white;
    padding:11px 38px;;
    border-radius: 5px;
    border: 1px solid #d05411;
    background-color: #f7600e;

}

.arrow{
    position:  absolute;
    bottom:  0;
    color: #f7600e;
    right:  50%;
    transform:  translate(50%,0);
    font-size:  25px;
    padding-bottom:  25px;



}



.work-section{
    background:white;
    width:  100%;
    height:130vh;
    position:  relative}

 .heading{
    width:100%;
    padding:10px;
 
 }

 .heading h1{
     padding:2px;
    text-align:center;
    color:#3b434c;
    font-size:35px;
 }

 .heading h1 span{
     color:#f7600e;
 }

 .heading p{
     padding:52px;
    color:#3b434c;
    text-align:white;
    text-align:center;
    font-size:20px;

 }



.galley-image{
    width: 100%;
    
}

.galley-image img{
    width: 33%;
    padding:1px;position: relative; 
}

.work-button{
    padding:100px;
    text-align:center;
}
.work-button a{
     right:  50%;
    transform: translate(50%,0);
    position:  absolute;
    text-transform:  uppercase;
    text-decoration:  blink;
    border: 1px solid #d0cac8;
    padding: 10px 40px;
    color: #3b434c;
    transition: all 1s;
}
.work-button a:hover{
    background-color:#f7600e;
}


.team-section{
    padding:10px 0;
}
.team-person{
    width: 100%;
    background-color: #fff;
    padding:  30px 0;
}
.person{
    width:  25%;
    text-align:  center;
    float:left;
    padding:  0 30px 0 0;
    position: relative;
    transition: all 1s;
}
.person img{
     width:  100%;
}
.person h1{
    color:#3b434c;
}
.person p{
    color:#3b434c;
    padding:20px;
}

.form-section {
    background:url(../images/footer.jpg);
    height: 50%;
    padding:120px 0;
    opacity:  0.7;

}

.form-para {
    text-align:center;
    color:white;

}
.form-para h1{
    padding:30px;

}

.form-para p{
    padding:20px;
    
}

.form {
    width: 50%;margin: 0 auto;
}

.form input{
    width: 100%;
    border: 1px solid 353f54;
    padding: 10px;
    margin-bottom: 10px;
    background: transparent;
    border-radius: 5px;
}
.form textarea{
     width: 100%;
    border: 1px solid 353f54;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius:30px;
}

.form ul{}
.left {
    list-style: none;float: left;
}
.left input{
    width: auto;
}
.form-para{
    text-align: center;
    font-size:30px;

}

.form-para h1{
    font-size:30px;
    color:white;
    text-align: center;
    text-weight:100px;
}

.form-para h1 span{
    color: #d26124;
}

.form-para p{
    color:white;
    font-size:20px;
}

.form .sub{
    width:  50%;
    float: right;
    border-radius:  25px;
    height:  50px;
    background:white;
}
.form .email{
    width: 50%;
    height:  50px;
    border-radius:  25px;
    background:white;
}





.form a{
    color:  #fff;
    margin-left:  10px;
    margin-top: 15px;
    display:  inline-block;
    text-transform:  uppercase;
    text-decoration:  blink;
    border: 1px solid #d26124;
    background: #d26124;
    padding:  10px;
    border-radius:  15px;
}
footer{
    width:  100%;
    position:  relative;
    padding:  25px;
    background-color: #3b434c;


 }
.copyright{
 
}
.copyright .copy{
    left: 20%;position:  absolute;
    color:  #fff;
}
.copyright .fb{
    text-align:  right;
    text-transform:  capitalize;
    padding-right:  100px;
    color:  #fff;
}



